*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    color: rgb(87, 83, 83);
}
#container{
    display: grid;
    grid-template-areas: 
    "header"
    "content"
    "footer"
    ;
    
    height: auto;
    grid-template-rows: 120px 1fr 100px;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 10px;
    margin: 20px;
}
.header{
    grid-area: header;
    background: url(/images/logo.png) no-repeat left center / 15% , url(/images/bayrak.gif) no-repeat right center / 15%;
    background-color: #e8eeef;
    box-shadow: 0px 5px 5px rgb(223, 216, 216);

    position: sticky;
    top: 0;
    z-index: 99;
}
/* Menü kapsayıcı özellikleri-hizalama,konumlandırma vs.*/
.ustMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap; 
    margin-left: 600px;
    margin-right: 200px;
    list-style: none;
}
/*Menü elemanlarının özellikleri- genişlik,ara boşluklar vs. */
.ustMenu li{
    flex: 0 1 200px;
    margin: 0 2px 0 2px;
}
/* Link bloklarının/butonların görsel özellikleri- renk,font vs. */
.ustMenu li > a{
    display: block;
    line-height: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(177, 15, 15);
    font-weight: bolder;
    font-family: 'Langar', cursive;
}
.ustMenu li > a.anasayfa{
    background-color: white;
}
/* Link üzerine mouse ile gelindiğinde oluşacak görsel efekt */
.ustMenu li > a:hover{
    background-color: #fff;
    transition: 2s;
}

.footer{
    grid-area: footer;
    background: #878888 url(../images/logo.png) no-repeat center center/10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .sosyalMedya{
    display: flex;
    flex-wrap: row;
    list-style: none;
    margin-left: 5vw;
}

.sosyalMedya > li{
    flex: 1 1 25%;
    max-width: 60px;
    min-width: 20px;
    margin-right: 1vw;

}

.sosyalMedya > li:hover{
  
}

.footer > h3{
    margin-right: 5vw;
    color: antiquewhite;
}
.footer a.bilisim{
    color: red;
}

#content{
    grid-area: content;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1.3fr;
    grid-template-rows: auto 1.3fr 1fr ;
    grid-gap: 10px;
    justify-content: center;
}

.iletisimBasliklar{
    grid-column: 1/4;
    grid-row: 1/2;
    font-family: 'Yusei Magic', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.iletisimBasliklar h5{
    font-size: 24px;
    color: rgb(105, 7, 7);
    margin-bottom: 16px;
    margin-top: 32px;
}
.iletisimBasliklar h3{
    font-size: 48px;
    color: red;
}

.iletisimBox{
    margin-bottom: 50px;
    grid-row: 2/3;
    text-align: center;
    padding: 50px 20px 30px 20px;
    
}
.iletisimBox h4{
    font-size: 28px;
    color: red;
    margin-bottom: 20px;
}

.iletisimBox a{
    color: rgb(105, 7, 7);
    margin-bottom: 5px;
    margin-top: 5px;
    display: block;

}
.iletisimBox i{
    color: rgb(105, 7, 7);
    margin: 10px;
}
.iletisimBox p{
    margin: 20px 10px 20px 10px;
}
.iletisimBox h6{
    margin: 20px 10px 20px 10px;
}
.telefonlar{
    list-style: none;
    margin-top: 20px;
}

#content > div:nth-child(2){
    margin-left: 10vw;
}
#content > div:nth-child(4){
    margin-right: 10vw;
}
#content > div:nth-child(3){
    border: thin solid rgb(247, 243, 243);
    background-color: white;
    box-shadow:
      10px 0px 25px rgb(245, 241, 241),
      0px 10px 25px rgb(245, 241, 241),
     -10px 0px 25px rgb(245, 241, 241),
     0px -10px 25px rgb(245, 241, 241)
     ;
}

.konum{
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: royalblue;
}

.konum iframe{
    width: 100%;
}